*,
*:before,
*:after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #52bbec,
        #d161ff
    );
}

.clock{
    width: 550px;
    height: 150px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    border-radius: 5px;
}

.clock div{
    position: relative;
    background-color:  #ffff;
    height: 100%;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #000000;
    border-radius: 5px;
    border: 2px solid rgb(0, 255, 242);
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    letter-spacing: 3px;
}

.clock span{
    font-weight: bolder;
    font-size: 80px;
    color: #ffffff;

    margin-top: 20px;

}